nohup.out
log_of_the_run.sh
latest_run.log
results/
archive/
logs/
data/
esl*
.vscode/
__pycache__/
.git/
errors.txt
known_issues.txt
known_issues_reasons.txt
Dockerfile
LICENSE
README.md
scripts/automate.sh
scripts/kill_rnanet.sh
scripts/build_docker_image.sh
